@model LoginViewModel
@section scripts
    {
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
}


<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="well">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-error"></div>
                <div class="form-group">
                    <label asp-for="UserName">UserName</label>
                    <input asp-for="UserName" type="text" class="form-control" />
                    <span asp-validation-for="UserName" class="text-warning"></span>


                </div>
                <div class="form-group">
                    <label asp-for="Password">Password</label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-warning"></span>
                </div>
                <div class="form-group">
                    <input asp-for="RememberMe" type="checkbox" class="checkbox-inline" />
                    <label asp-for="RememberMe">RememberMe</label>
                </div>
                <div class="form-group">
                    <button type="submit" value="Login" class="btn btn-success">Login</button>
                </div>

            </form>
        </div>
    </div>
</div>